@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Angélica Martínez Vázquez<br />
    Zacatecas, México<br />
    <abbr title="Telefono">P:</abbr>
    (52)4924925528
</address>

