@{
    ViewBag.Title = "Inicio";
}
<div class="jumbotron">
    <h1>Módulo Área</h1>
    <p class="lead">Módulo de áreas que tiene la empresa.</p>
    <p><a href="http://localhost:61106/areas/Index" class="btn btn-info btn-lg">Ir &raquo;</a></p>
</div>

<div class="jumbotron">
    <h1>Módulo Empleados</h1>
    <p class="lead">Módulo para visualizar y crear empleados.</p>
    <p><a href="http://localhost:61106/empleados/Index" class="btn btn-info btn-lg">Ir &raquo;</a></p>
</div>



